<div class="container">

      <br> <br>
      
      so we
      <input  type="text" name="ghansham" id="ghansham" [(ngModel)]="name"> <br> <br>
      
the inputed name shpuld be directly reflected to following h1
<h1>{{name}}</h1>

<app-first></app-first>



<!-- using tags to inject the component  -->
<!-- <app-various-selectors></app-various-selectors> -->

<!-- use the attribute to inject the code inside the file  -->
<!-- <div app-various-selectors></div> -->

<!-- now lets use the classname in order to inject the data inside the selector  -->
<div class="classname"></div>
</div>
