<div
  class="row container-fluid"
  style="margin: auto; text-align: center; align-items: center;width: 80%;"
>
  <div>

    <a href="#" class="dropdown-toggle btn btn-lg btn-success"  role="button">Manage</a>
    <ul class="dropdown-menu">
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Shopping List</a></li>
    </ul>
    <br> <br>
  </div>
  
  <h1>Name</h1>
  <img src="" alt="image" />
  <h4>Ingredients</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi beatae vero
    similique nisi blanditiis sint possimus tempore consequuntur deserunt?
    Placeat vitae ab amet veniam minima cumque, non quidem pariatur odio.
  </p>
</div>
