<!-- <div class="container">
  <br> <br>
  
<!-- <h1>Hello world</h1> -->
<!-- <app-header></app-header>
<app-ingredients></app-ingredients>
<app-recipe-details></app-recipe-details>
<app-recipe-item></app-recipe-item>
<app-recipe-list></app-recipe-list>
<app-shopping-list></app-shopping-list>
<app-shopping-list-edit></app-shopping-list-edit> -->
<div class="container">

  <app-header></app-header>
  <br>
  <app-recipe></app-recipe>
  <app-recipe-item></app-recipe-item>
  <app-shopping-list></app-shopping-list>
</div>